video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  background-color: rgba(240, 255, 255, 0.595);
  height: 350px;
  width: 550px;
  box-shadow: 8px 8px 8px gray;
  border-radius: 10px;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
}
button{
  width: 150px;
  background-color: rgb(13, 137, 96);
  padding: 10px;
  border: none;
  color: white;
}
.tip{
  background-color: rgba(255, 255, 255, 0.657);
  padding: 40px;
  width: 450px;
  border-radius: 5px;
}
h1{
  color: rgb(78, 49, 49);
}